.authorization-block {
    width: 100%;
    text-align: left;
    background: linear-gradient(to right, #edecec 45%, #cecece 50%, #edecec 55%);
    padding: 3% 0 3%;
    margin-bottom: 7%;
}
.for-participants {
    display: inline-block;
    width: 49%;
    position: relative;
}
.for-participants span {
    display: inline-block;
    width: 50%;
    margin-left: 15%;
    text-transform: uppercase;
    font-weight: bold;
}
.autho-title {
    display: inline-block;
    width: 50%;
    margin-left: 15%;
    font-size: 1.3em;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 4%;
    position: relative;
}
.for-participants-icon, .for-advertisers-icon {
    position: absolute;
    left: -22%;
    top: -40%;
    width: 17%;
    padding-top: 17%;
    background: url("../images/sprite-authorization.png") no-repeat 88% 50%;
    background-size: cover;
}
.social-autho {
    display: inline-block;
    width: 100%;
    list-style: none;
    margin-top: 2%;
}
.social-autho li {
    display: inline-block;
    width: 8%;
    padding-top: 8%;
    position: relative;
    margin-left: 1%;
    vertical-align: middle;
}
.social-autho li:first-child {
    margin-left: 15%;
}
.social-autho a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding-top: 100%;
}
.social-autho li:nth-child(1) a {background: url("../images/sprite-authorization.png") no-repeat 0 50%;background-size: cover;}
.social-autho li:nth-child(2) a {background: url("../images/sprite-authorization.png") no-repeat 15% 50%;background-size: cover;}
.social-autho li:nth-child(3) a {background: url("../images/sprite-authorization.png") no-repeat 30% 50%;background-size: cover;}
.social-autho li:nth-child(4) a {background: url("../images/sprite-authorization.png") no-repeat 45% 50%;background-size: cover;}
.social-autho li:nth-child(5) a {background: url("../images/sprite-authorization.png") no-repeat 60% 50%;background-size: cover;}
.social-autho li:nth-child(6) a {background: url("../images/sprite-authorization.png") no-repeat 75% 50%;background-size: cover;}
.social-autho li:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.for-advertisers {
    display: inline-block;
    width: 49%;
    vertical-align: top;
    position: relative;
}
.for-advertisers .autho-title {
    margin-left: 20%;
}
.for-advertisers-icon {
    left: -22%;
    top: -40%;
    background-position: 100% 50%;
}
.autho-email, .autho-password {
    display: inline-block;
    margin-left: 20%;
    margin-bottom: 4%;
    width: 70%;
    border: 1px solid #c4c2c2;
    padding: 1% 2%;
}
.autho-email::-webkit-input-placeholder, .autho-password::-webkit-input-placeholder {text-overflow:ellipsis; color: #666666;}
.autho-email::-moz-placeholder, .autho-password::-moz-placeholder {text-overflow:ellipsis; color:#666666;}
.autho-email:-moz-placeholder, .autho-password:-moz-placeholder {text-overflow:ellipsis; color:#666666;}
.autho-email:-ms-input-placeholder, .autho-password:-ms-input-placeholder {text-overflow:ellipsis; color:#666666;}
.autho-email:focus::-webkit-input-placeholder {color: transparent}
.autho-email:focus::-moz-placeholder {color: transparent}
.autho-email:focus:-moz-placeholder {color: transparent}
.autho-email:focus:-ms-input-placeholder {color: transparent}
.autho-password:focus::-webkit-input-placeholder {color: transparent}
.autho-password:focus::-moz-placeholder {color: transparent}
.autho-password:focus:-moz-placeholder {color: transparent}
.autho-password:focus:-ms-input-placeholder {color: transparent}

.for-advertisers .autho-submit {
    padding: 0.5% 7%;
    margin-left: 20%;
    font-size: 1em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.for-advertisers-registration {
    display: inline-block;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 10%;
    float: right;
}

@media (max-width: 1366px) {
    .autho-title {
        font-size: 1.1em;
    }
    .for-advertisers .autho-submit {
        padding: 0.4% 5%;
        font-size: 0.9em;
    }
    .for-advertisers-registration {
        font-size: 0.9em;
    }
}
@media (max-width: 560px) {
    .autho-title {
        font-size: 0.8em;
    }
    .for-advertisers .autho-submit {
        padding: 0.4% 5%;
        font-size: 0.7em;
    }
    .for-advertisers-registration {
        font-size: 0.6em;
        margin-top: 3%
    }
}
@media (max-width: 380px) {
    .autho-title {
        font-size: 0.7em;
    }
}