.registration-block {
    width: 100%;
    text-align: left;
    background: linear-gradient(to right, #edecec 45%, #cecece 49.9%, white 50%, #cecece 50.1%, #edecec 55%);
    padding: 3% 0 3%;
    margin-bottom: 7%;
}
.account-activation {
    display: inline-block;
    width: 49%;
    position: relative;
}
.account-activation>span {
    display: inline-block;
    width: 80%;
    margin-left: 15%;
}
.registr-title {
    display: inline-block;
    width: 80%;
    margin-left: 20%;
    font-size: 1.3em;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 4%;
    position: relative;
}
.registr-title-icon {
    position: absolute;
    left: -10%;
    top: -20%;
    width: 8%;
    padding-top: 8%;
    background: url("../images/registr-icon.png") no-repeat 88% 50%;
    background-size: cover;
}

.fill-profile {
    display: inline-block;
    width: 49%;
    vertical-align: top;
    position: relative;
}
.profile-first-name, .profile-last-name, .profile-city {
    display: inline-block;
    margin-left: 20%;
    margin-bottom: 4%;
    width: 70%;
    border: 1px solid #c4c2c2;
    padding: 1% 2%;
}
.profile-first-name::-webkit-input-placeholder, .profile-last-name::-webkit-input-placeholder {text-overflow:ellipsis; color: #666666;}
.profile-first-name::-moz-placeholder, .profile-last-name::-moz-placeholder {text-overflow:ellipsis; color:#666666;}
.profile-first-name:-moz-placeholder, .profile-last-name:-moz-placeholder {text-overflow:ellipsis; color:#666666;}
.profile-first-name:-ms-input-placeholder, .profile-last-name:-ms-input-placeholder {text-overflow:ellipsis; color:#666666;}
.profile-first-name:focus::-webkit-input-placeholder {color: transparent}
.profile-first-name:focus::-moz-placeholder {color: transparent}
.profile-first-name:focus:-moz-placeholder {color: transparent}
.profile-first-name:focus:-ms-input-placeholder {color: transparent}
.profile-last-name:focus::-webkit-input-placeholder {color: transparent}
.profile-last-name:focus::-moz-placeholder {color: transparent}
.profile-last-name:focus:-moz-placeholder {color: transparent}
.profile-last-name:focus:-ms-input-placeholder {color: transparent}

.profile-city {
    background: white;
    color: #acacac;
    text-overflow: ellipsis;
}
.profile-city a {
    float: right;
    color: inherit;
    text-decoration: none;
}
.fill-profile .profile-submit {
    padding: 0.5% 7%;
    margin-left: 20%;
    font-size: 1em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

@media (max-width: 1366px) {
    .registr-title {
        font-size: 1.1em;
    }
    .fill-profile .profile-submit {
        padding: 0.4% 5%;
        font-size: 0.9em;
    }
}
@media (max-width: 560px) {
    .registr-title {
        font-size: 0.8em;
    }
    .fill-profile .profile-submit {
        padding: 0.4% 5%;
        font-size: 0.7em;
    }
    .account-activation>span {
        font-size: 0.8em;
    }
}
@media (max-width: 380px) {
    .registr-title {
        font-size: 0.7em;
    }
}