* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
    font-family: "OpenSans Semibold", sans-serif;
}

@font-face {font-family: "OpenSans Semibold";src: url("../fonts/OpenSans-Semibold.ttf");}
@font-face {font-family: "OpenSans Italic";src: url("../fonts/OpenSans-Italic.ttf");}
@font-face {font-family: "OpenSans";src: url("../fonts/OpenSans.ttf");}

body {
    max-width: 1600px;
    width: 100%;
    margin: auto;
}
/**************** HEADER *****************
*****************************************/
header {
    width: 100%;
    background: url("../images/header-background2.png") no-repeat/*, url("../images/ribbons.png") no-repeat 95% 50%*/;
    background-size: 100%/*, 21.25%*/;
    vertical-align: top;
    padding-bottom: 5.5%;
}
.header-menu {
    display: inline-block;
    width: 40%;
    list-style: none;
    vertical-align: top;
    margin-top: 0.3%;
    text-align: center;
}
.header-menu li {
    display: inline-block;
}
.header-menu li:first-child:after {
    content: "\2002\2022\2002";
    color: white;
    font-size: 1.5em;
    vertical-align: middle;
}
.header-menu li a {
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px black;
}
.header-menu li a:hover {
    color: #bebebe;
}
header .logo {
    position: absolute;
    top: 0.5%;
    left: 50%;
    margin-left: -9.375%;
    width: 18.75%;
}
.logo img {
    max-width: 100%;
}
.header-controls {
    display: inline-block;
    width: 13%;
    vertical-align: top;
    margin-top: 0.5%;
    margin-left: 28%;
}
.account-menu {
    position: relative;
    text-align: left;
}
.account-menu>a {
    display: block;
    width: 100%;
    background: url("../images/sprite-arrows.png") no-repeat 95% -9%;
    background-size: 9%;
    color: black;
    text-decoration: none;
}
.account-menu:hover>a {
    background: url("../images/sprite-arrows.png") no-repeat 95% 18%;
    background-size: 9%;
}
.account-menu:hover .sub-menu {
    display: block;
}
.sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 25%;
    opacity: 0.95;
    list-style: none;
    width: 75%;
    background-color: white;
    border-top: none;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    -webkit-box-shadow: 2px 2px 3px -1px #636262, -2px 2px 3px -1px #636262;
    -moz-box-shadow: 2px 2px 3px -1px #636262, -2px 2px 3px -1px #636262;
    box-shadow: 2px 2px 3px -1px #636262, -2px 2px 3px -1px #636262;
    z-index: 1;
    padding: 0.5% 1%;
}
.sub-menu li a {
    display: block;
    font-size: 0.9em;
    color: #636262;
    padding: 1%;
    text-decoration: none;
}
.sub-menu-mark {
    display: none;
    float: right;
    color: red;
    vertical-align: middle;
}
.sub-menu li:hover .sub-menu-mark{
    display: inherit;
}
.city-menu {
    width: 75%;
    position: relative;
    list-style: none;
    text-align: left;
    margin-top: 15%;
    margin-left: 25%;
}
.city-menu>a {
    display: block;
    width: 100%;
    background: #e5e4e4 url("../images/sprite-arrows.png") no-repeat 93% 50%;
    background-size: 12%;
    color: #636262;
    text-decoration: none;
    padding: 5%;
}
.city-menu .sub-menu {
    left: 25%;
    width: 75%;
    border: none;
    border-radius: inherit;
    background: #e5e4e4;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.city-menu:hover>a {
    background: #e5e4e4 url("../images/sprite-arrows.png") no-repeat 93% 78%;
    background-size: 12%;
}
.city-menu:hover .sub-menu {
    display: block;
}
/***************** MAIN ******************
*****************************************/
main {
    position: relative;
    width: 70%;
    margin: 0 auto;
}
.menu ul {
    width: 100%;
    text-align: center;
}
.menu li {
    display:inline-block;
    background: #e5e4e4;
    padding: 1%;
    width: 17%;
    margin: 1% 1% 0;
    border: 2px solid transparent;
    text-decoration: none;
    text-transform: uppercase;
}
.menu li:hover {
    background: none;
    border: 2px solid red;
    border-bottom: none;
}
.menu:after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 0;
    overflow: hidden;
}
.winners-table {
    display: table;
}
.winners-row {
    display: table-row;
}
.winners-cell {
    display: table-cell;
    /*width: 30%;*/
}
.winners li img {
    width: 100%;
}
.winners .name {

}
.winners .text {

}
.more-winners {
    display: inline-block;
    font-family: "OpenSans Italic", sans-serif;
    font-weight: bold;
    color: #c52f32;
    background: url("../images/sprite-arrows.png") no-repeat 98% 105%;
    -webkit-background-size: 10%;
    background-size: 10%;
    margin: 2% auto;
    text-align: left;
}
main button {
    position: absolute;
    width: 15%;
    top:-5%;
    left: 2.7%;
    border: none;
    background: linear-gradient(to bottom, #cd1013, #ae0e14);
    padding: 0.7% 1.5%;
    color: white;
    text-transform: uppercase;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
/**************** FOOTER *****************
*****************************************/
footer {
    width: 100%;
    background: #ca1013;
}
footer span, footer a {
    font-family: OpenSans, sans-serif;
}
.footer-top, .footer-bottom {
    width: 70%;
    margin: 0 auto;
    padding: 1%;
}
.footer-controls, .odnoklassniki, .vkontakte {
    display: inline-block;
}
.footer-controls {
    width: 30%;
}
footer .logo {
    display: block;
    width: 75%;
    margin-bottom: 2%;
}
.activities span {
    text-transform: uppercase;
    font-weight: bold;
}
.activities li, .activities li a {
    text-decoration: none;
    color: white;
}
.activities li {
    margin-left: 1.5%;
}
.activities li a:hover {
    text-decoration: underline;
}
.social {
    margin-top: 1%;
}
.social li {
    display: inline-block;
    width: 15%;
}
.social a {
    display: inline-block;
    width: 100%;
    padding-top: 100%;
    background: url("../images/sprite-social.png") no-repeat 0% 50%;
    background-size: cover;
}
.social li:nth-child(2) a {background: url("../images/sprite-social.png") no-repeat 20% 50%;background-size: cover;}
.social li:nth-child(3) a {background: url("../images/sprite-social.png") no-repeat 40% 50%;background-size: cover;}
.social li:nth-child(4) a {background: url("../images/sprite-social.png") no-repeat 60% 50%;background-size: cover;}
.social li:nth-child(5) a {background: url("../images/sprite-social.png") no-repeat 80% 50%;background-size: cover;}
.social li:nth-child(6) a {background: url("../images/sprite-social.png") no-repeat 100% 50%;background-size: cover;}
.social li:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.odnoklassniki {
    width: 20%;
    margin-left: 21%;
}
.vkontakte {
    width: 25%;
    margin-left: 3%;
}
.odnoklassniki img, .vkontakte img {
    max-width: 100%;
}
.footer-bottom a {
    color: white;
}
.footer-bottom span:last-child a {
    text-decoration: none;
}
.footer-bottom span:last-child {
    float: right;
}
/*************MEDIA QUERIES**************
****************************************/

@media (max-width: 1680px) {

    * {
        font-size: 0.97em;
    }
}
@media (max-width: 1366px) {

    * {
        font-size: 0.95em;
    }
}

@media (max-width: 1280px) {

    * {
        font-size: 0.93em;
    }
}

@media (max-width: 1024px) {

    * {
        font-size: 0.9em;
    }
}

@media (max-width: 980px) {

    * {
        font-size: 0.87em;
    }

}

@media (max-width: 800px) {

    * {
        font-size: 0.85em;
    }
    main button {
        padding: 0.3% 1.5%;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }
}
@media (max-width: 640px) {

    * {
        font-size: 0.7em;
    }
}

@media (max-width: 480px) {

    * {
        font-size: 0.7em;
    }
    .odnoklassniki {
        margin-left: 15%;
    }

}

@media (max-width: 380px) {

    * {
        font-size: 0.7em;
    }
}
