* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
    font-family: "OpenSans Semibold", sans-serif;
}

@font-face {font-family: "OpenSans Semibold";src: url("../fonts/OpenSans-Semibold.ttf");}
@font-face {font-family: "OpenSans Italic";src: url("../fonts/OpenSans-Italic.ttf");}
@font-face {font-family: "OpenSans";src: url("../fonts/OpenSans.ttf");}

body {
    max-width: 1366px;
    width: 70%;
    margin: auto;
    background: url("../images/background.png") no-repeat;
    background-size: 159%;
}
/**************** HEADER *****************
*****************************************/
header {
    width: 100%;
    margin: 0 auto;
    background: url("../images/header-background.png") no-repeat 50% 0;
    background-size: contain;
    padding-bottom: 5%;
}
.header-menu {
    float: left;
    list-style: none;
    margin-left: 5%;
    margin-top: 0.5%;
}
.header-menu li {
    display: inline-block;
}
.header-menu li:first-child:after {
    content: "\2002\2022\2002";
    color: white;
    vertical-align: middle;
}
.header-menu li a {
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px black;
}
.header-menu li a:hover {
    color: #bebebe;
}

header .logo {
    position: absolute;
    top: 0.5%;
    left: 50%;
    margin-left: -8%;
    width: 16%;
}
.logo img {
    width: 100%;
}

.header-controls {
    float: right;
    margin-top: 0.5%;
    margin-right: 17%;
}
.account-menu {
    position: relative;
}
.account-menu>a {
    background: url("../images/sprite-arrows.png") no-repeat 95% -9%;
    background-size: 9%;
    color: black;
    text-decoration: none;
}
.account-menu:hover>a {
    background: url("../images/sprite-arrows.png") no-repeat 95% 18%;
    background-size: 9%;
}
.account-menu:hover .sub-menu {
    display: inherit;
}
.sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 10%;
    opacity: 0.95;
    list-style: none;
    width: 90%;
    background-color: white;
    border-top: none;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    -webkit-box-shadow: 2px 2px 3px -1px #636262, -2px 2px 3px -1px #636262;
    -moz-box-shadow: 2px 2px 3px -1px #636262, -2px 2px 3px -1px #636262;
    box-shadow: 2px 2px 3px -1px #636262, -2px 2px 3px -1px #636262;
    z-index: 1;
    padding: 0.5% 1%;
}
.sub-menu li a {
    font-size: 0.9em;
    color: #636262;
    padding: 1%;
    text-decoration: none;
}
.sub-menu-mark {
    display: none;
    float: right;
    color: red;
}
.sub-menu li:hover .sub-menu-mark{
    display: inherit;
}
.city-menu {
    display: inline-block;
    width: 75%;
    margin-left: 25%;
    position: relative;
    margin-top: 15%;
}
.city-menu>a {
    display: inline-block;
    width: 100%;
    background: #e5e4e4 url("../images/sprite-arrows.png") no-repeat 93% 50%;
    background-size: 13%;
    font-family: "OpenSans Italic", sans-serif;
    color: #636262;
    text-decoration: none;
    padding: 3% 5%;
}
.city-menu .sub-menu {
    position: absolute;
    left: 10%;
    top: 100%;
    width: 90%;
    border: none;
    border-radius: inherit;
    background: #e5e4e4;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.city-menu:hover>a {
    background: #e5e4e4 url("../images/sprite-arrows.png") no-repeat 93% 78%;
    background-size: 13%;
}
.city-menu:hover .sub-menu {
    display: block;
}
.clearfix {
    clear: both;
}
/***************** MAIN ******************
*****************************************/
main {
    position: relative;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.menu ul {
    width: 100%;
    text-align: center;
}
.menu li {
    display:inline-block;
    background: #e5e4e4;
    padding: 1%;
    width: 18%;
    margin: 1% 2% 0 0;
    border: 2px solid transparent;
    text-decoration: none;
    text-transform: uppercase;
}
.menu li:last-child {
    margin-right: 0;
}
.menu li:hover {
    background: none;
    border: 2px solid red;
    border-bottom: none;
}

.winners {
    width: 100%;
}
.winners li {
    display: inline-block;
    width: 32%;
    background: url("../images/winner-background.png") no-repeat;
    background-size: contain;
    margin-top: 3%;
}
.winners li:nth-child(3n-1) {
    margin-left: 1.5%;
    margin-right: 1.5%;
}
.winners img {
    width: 86.5%;
    margin: 1.5% 10% 0 2.5%;
    border-bottom: 6px solid white;
    vertical-align: top;
}
.winners .name {
    display: inline-block;
    width: 86.5%;
    margin: 5% 10% 3% 2.5%;
    font-size: 1.3em;
    color: #CC0000;
    text-align: center;
}
.winners .text {
    display: inline-block;
    width: 79%;
    margin: 1.5% 13% 15% 7%;
    font-family: "OpenSans Italic", sans-serif;
    text-align: justify;
}
.more-winners {
    display: inline-block;
    margin: 3% 0;
    text-decoration: none;
    font-family: "OpenSans Italic", sans-serif;
    font-weight: bold;
    color: #c52f32;
    background: url("../images/sprite-arrows.png") no-repeat 98% 105%;
    -webkit-background-size: 10%;
    background-size: 10%;
}
.add-winner {
    position: absolute;
    width: 15%;
    top: -5%;
    left: 0.5%;
    border: none;
    background: linear-gradient(to bottom, #cc0000, #990000);
    padding: 0.7% 1.5%;
    text-align: center;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
/**************** FOOTER *****************
*****************************************/
footer {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    left:0;
    background: linear-gradient(to bottom, #cc0000, #990000);
}
footer span, footer a {
    font-family: OpenSans, sans-serif;
}
.footer-top, .footer-bottom {
    width: 70%;
    margin: 0 auto;
    padding: 0.5%;
}
.footer-controls, .odnoklassniki, .vkontakte {
    display: block;
}
.footer-controls {
    width: 30%;
    float: left;
}
footer .logo {
    display: block;
    width: 75%;
    margin-bottom: 3%;
}
.activities span {
    text-transform: uppercase;
    font-weight: bold;
}
.activities li, .activities li a {
    text-decoration: none;
    color: white;
}
.activities li {
    margin-left: 4%;
}
.activities li a:hover {
    text-decoration: underline;
}
.social {
    margin-top: 5%;
}
.social li {
    display: inline-block;
    width: 15%;
}
.social a {
    display: inline-block;
    width: 100%;
    padding-top: 100%;
    background: url("../images/sprite-social.png") no-repeat 0% 50%;
    background-size: cover;
}
.social li:nth-child(2) a {background: url("../images/sprite-social.png") no-repeat 20% 50%;background-size: cover;}
.social li:nth-child(3) a {background: url("../images/sprite-social.png") no-repeat 40% 50%;background-size: cover;}
.social li:nth-child(4) a {background: url("../images/sprite-social.png") no-repeat 60% 50%;background-size: cover;}
.social li:nth-child(5) a {background: url("../images/sprite-social.png") no-repeat 80% 50%;background-size: cover;}
.social li:nth-child(6) a {background: url("../images/sprite-social.png") no-repeat 100% 50%;background-size: cover;}
.social li:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.odnoklassniki {
    width: 20%;
    float: left;
    margin-left: 21%;
}
.vkontakte {
    width: 24.43%;
    float: left;
    margin-left: 3%;
}
.odnoklassniki img, .vkontakte img {
    max-width: 100%;
}
.footer-bottom a {
    color: white;
}
.footer-bottom span:last-child a {
    text-decoration: none;
}
.footer-bottom span:last-child {
    float: right;
}
/*************MEDIA QUERIES**************
****************************************/

@media (max-width: 1680px) {

    .winners .name {
        font-size: 1.2em;
        /*margin: 5% 10% 3% 2.5%;*/
    }
    .winners .text {
        font-size: 0.85em;
        /*margin: 1.5% 13% 15% 7%;*/
    }
}
@media (max-width: 1480px) {

    .winners .name {
        margin: 3% 10% 2% 2.5%;
    }
    .winners .text {
        font-size: 0.8em;
        margin: 0 13% 8% 7%;
    }
}
@media (max-width: 1366px) {

    .menu li {
        font-size: 0.9em;
    }
    .winners .text {
        font-size: 0.8em;
        margin-bottom: 8%;
    }
    .header-menu, .header-controls {
        margin-top: 0.2%;
    }
}
@media (max-width: 1280px) {

    .menu li {
        font-size: 0.8em;
    }
    .winners .name {
        font-size: 1.1em;
        margin: 1.5% 10% 1% 2.5%;
    }
    .header-menu a, .header-controls a {
        font-size: 0.8em;
    }
    .header-menu {
        margin-left: 0;
    }
    .header-controls {
        margin-right: 10%;
    }
}
@media (max-width: 1190px) {

    .winners .text {
        font-size: 0.7em;
        margin-bottom: 5%;
    }
}
@media (max-width: 1080px) {

    footer a {
        font-size: 0.9em;
    }
    .menu li {
        font-size: 0.7em;
        margin-right: 1%;
        width: 17%;
    }
    .menu li:last-child {
        margin-right: 0;

    }
    .winners .text {
        font-size: 0.65em;
        margin-bottom: 3%;
    }
    .add-winner {
        left: 5%;
    }
}
@media (max-width: 1050px) {

    body {
        width: 100%;
        background: none;
    }
    header {
        background: url("../images/header-background-small.png") no-repeat 50% 0;
        background-size: cover;
    }
    .header-menu {
        margin-left: 5%;
    }
    .winners {
        margin-left: 1%;
    }
    .winners img {
        width: 88%;
        margin: 1.5% 24% 0 0.5%;
    }
    .winners .name {
        width: 88%;
        margin: 1.5% 24% 0 0.5%;
    }
    .winners .text {
        width: 77%;
        margin: 1.5% 30% 5% 5.5%;
        font-size: 0.8em;
    }
    .footer-bottom, .footer-top {
        width: 100%;
    }
    .footer-controls {
        margin-left: 5%;
    }
    .odnoklassniki {
        margin-left: 15%;
    }
}

@media (max-width: 860px) {

    .winners .text {
        font-size: 0.65em;
    }

}

@media (max-width: 800px) {

    .winners li:nth-child(3n-1) {
        margin-left: 0;
        margin-right: 0;
    }
    * {
        font-size: 0.95em;
    }
    .add-winner {
        font-size: 0.7em;
    }


}

@media (max-width: 640px) {

    * {
        font-size: 0.9em;
    }
    .winners .text {
        margin-bottom: 10%;
    }

}

@media (max-width: 540px) {

    * {
        font-size: 0.85em;
    }
    .winners .text {
        margin-bottom: 12%;
    }

}

@media (max-width: 480px) {

    .winners .text {
        font-size: 0.6em;
    }

}

@media (max-width: 380px) {

    .winners .text {
        font-size: 0.5em;
    }
    .menu li {
        font-size: 0.5em;
    }
    .header-menu a, .header-controls a {
        font-size: 0.65em;
    }
}
