@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,600italic&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Lobster|Lobster+Two&subset=latin,cyrillic);

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
}

button, input[type="submit"], input[type="reset"] {
    background: linear-gradient(to bottom, #cc0000, #990000);
    padding: 0.7% 3%;
    color: white;
    font-size: 1.3em;
    text-transform: uppercase;
    border: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
button:hover, input[type="submit"]:hover {
    background: linear-gradient(to bottom, #990000, #cc0000);
}
.close-window{
    position:absolute;
    right: 15px;
    top: 15px;
    color: #cc0000;
    text-decoration: none;
    cursor: pointer;
}
.clearfix {
    clear: both;
}
.more-info {
    display: inline-block;
    padding-right: 20px;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-style: italic;
    color: #c52f32;
    background: url("../images/sprite-arrows.png") no-repeat 98% 105%;
    -webkit-background-size: 10%;
    background-size: 10%;
}

body {
    max-width: 1366px;
    width: 70%;
    margin: auto;
}
/**************** HEADER *****************
*****************************************/
header {
    width: 100%;
    margin: 0 auto;
    background: url("../images/header-background.png") no-repeat 50% 0;
    background-size: 100%;
    padding-bottom: 5%;
}
.header-left-menu {
    float: left;
    list-style: none;
    margin-left: 1%;
    margin-top: 0.5%;
}
.header-left-menu li {
    display: inline-block;
}
.header-left-menu li:first-child:after {
    content: "\2002\2022\2002";
    color: white;
    vertical-align: middle;
}
.header-left-menu li a {
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px black;
}
.header-left-menu li a:hover {
    color: #bebebe;
}

header .logo {
    position: absolute;
    top: 0.5%;
    left: 50%;
    margin-left: -8%;
    width: 16%;
}
.logo img {
    width: 100%;
}

.header-right-menu {
    width: 20%;
    float: right;
    margin-top: 0.5%;
    margin-right: 13%;
    text-align: left;
}
.account-menu {
    position: relative;
    width: 100%;
}
.account-menu>a {
    background: url("../images/sprite-arrows.png") no-repeat 97% -8%;
    background-size: 10%;
    color: black;
    text-decoration: none;
}
.account-menu:hover>a {
    background: url("../images/sprite-arrows.png") no-repeat 95% 18%;
    background-size: 10%;
}
.account-menu:hover .sub-menu {
    display: inherit;
}
.sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 10%;
    opacity: 0.95;
    list-style: none;
    width: 90%;
    background-color: white;
    border-top: none;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    -webkit-box-shadow: 2px 2px 3px -1px #636262, -2px 2px 3px -1px #636262;
    -moz-box-shadow: 2px 2px 3px -1px #636262, -2px 2px 3px -1px #636262;
    box-shadow: 2px 2px 3px -1px #636262, -2px 2px 3px -1px #636262;
    z-index: 1;
    padding: 0.5% 1%;
}
.sub-menu li a {
    font-size: 0.9em;
    color: #636262;
    padding: 1%;
    text-decoration: none;
}
.sub-menu-mark {
    display: none;
    float: right;
    color: red;
}
.sub-menu li:hover .sub-menu-mark{
    display: inherit;
}
.city-menu {
    display: inline-block;
    width: 60%;
    margin-left: 20%;
    position: relative;
    margin-top: 15%;
}
.city-menu>a {
    display: inline-block;
    width: 100%;
    background: #e5e4e4 url("../images/sprite-arrows.png") no-repeat 92% 50%;
    background-size: 12%;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-style: italic;
    color: #636262;
    text-decoration: none;
    padding: 3% 5%;
}
.city-menu .sub-menu {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    border: none;
    border-radius: inherit;
    background: #e5e4e4;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.city-menu:hover>a {
    background: #e5e4e4 url("../images/sprite-arrows.png") no-repeat 92% 78%;
    background-size: 12%;
}
.city-menu:hover .sub-menu {
    display: block;
}
/*********** MAIN ************/
main {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
/**************** FOOTER *****************
*****************************************/
footer {
    width: 100%;
    margin: 2.5% auto 0;
    background: linear-gradient(to bottom, #cc0000, #990000);
}
footer span, footer a {
    font-family: "Open Sans", sans-serif;
}
.footer-top, .footer-bottom {
    width: 70%;
    margin: 0 auto;
}
.footer-top {
    padding-top: 2%;
}
.footer-bottom {
    padding: 1% 0;
}
.footer-controls, .odnoklassniki, .vkontakte {
    display: block;
}
.footer-controls {
    width: 30%;
    float: left;
}
footer .logo {
    display: block;
    width: 75%;
    margin-bottom: 5%;
}
.activities span {
    text-transform: uppercase;
    font-weight: bold;
    margin-left: -5%;
}
.activities li, .activities li a {
    text-decoration: none;
    color: white;
}
.activities li a:hover {
    text-decoration: underline;
}
.social {
    margin-top: 7%;
    margin-left: -5%;
}
.social li {
    display: inline-block;
    width: 15%;
}
.social a {
    display: inline-block;
    width: 100%;
    padding-top: 100%;
    background: url("../images/sprite-social.png") no-repeat 0 50%;
    background-size: cover;
}
.social li:nth-child(2) a {background: url("../images/sprite-social.png") no-repeat 20% 50%;background-size: cover;}
.social li:nth-child(3) a {background: url("../images/sprite-social.png") no-repeat 40% 50%;background-size: cover;}
.social li:nth-child(4) a {background: url("../images/sprite-social.png") no-repeat 60% 50%;background-size: cover;}
.social li:nth-child(5) a {background: url("../images/sprite-social.png") no-repeat 80% 50%;background-size: cover;}
.social li:nth-child(6) a {background: url("../images/sprite-social.png") no-repeat 100% 50%;background-size: cover;}
.social li:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.odnoklassniki {
    width: 22%;
    float: left;
    margin-left: 15%;
}
.vkontakte {
    width: 26.873%;
    float: right;
}
.odnoklassniki img, .vkontakte img {
    max-width: 100%;
}
.footer-bottom span{
    vertical-align: bottom;
}
.footer-bottom a {
    color: white;
}
.footer-bottom span:first-child {
    margin-left: -2%;
}
.footer-bottom span:last-child a {
    text-decoration: none;
}
.footer-bottom span:last-child {
    float: right;
}