@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,600italic&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Lobster|Lobster+Two&subset=latin,cyrillic);

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}

button, input[type="submit"] {
    background: linear-gradient(to bottom, #cc0000, #990000);
}

body {
    max-width: 1366px;
    width: 70%;
    margin: auto;
}
/**************** HEADER *****************
*****************************************/
header {
    width: 100%;
    margin: 0 auto;
    background: url("../images/header-background.png") no-repeat 50% 0;
    background-size: 100%;
    padding-bottom: 5%;
}
.header-menu {
    float: left;
    list-style: none;
    margin-left: 1%;
    margin-top: 0.5%;
}
.header-menu li {
    display: inline-block;
}
.header-menu li:first-child:after {
    content: "\2002\2022\2002";
    color: white;
    vertical-align: middle;
}
.header-menu li a {
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px black;
}
.header-menu li a:hover {
    color: #bebebe;
}

header .logo {
    position: absolute;
    top: 0.5%;
    left: 50%;
    margin-left: -8%;
    width: 16%;
}
.logo img {
    width: 100%;
}

.header-controls {
    float: right;
    margin-top: 0.5%;
    margin-right: 17%;
}
.account-menu {
    position: relative;
    width: 100%;
}
.account-menu>a {
    background: url("../images/sprite-arrows.png") no-repeat 97% -9%;
    background-size: 10%;
    color: black;
    text-decoration: none;
}
.account-menu:hover>a {
    background: url("../images/sprite-arrows.png") no-repeat 95% 18%;
    background-size: 9%;
}
.account-menu:hover .sub-menu {
    display: inherit;
}
.sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 10%;
    opacity: 0.95;
    list-style: none;
    width: 90%;
    background-color: white;
    border-top: none;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    -webkit-box-shadow: 2px 2px 3px -1px #636262, -2px 2px 3px -1px #636262;
    -moz-box-shadow: 2px 2px 3px -1px #636262, -2px 2px 3px -1px #636262;
    box-shadow: 2px 2px 3px -1px #636262, -2px 2px 3px -1px #636262;
    z-index: 1;
    padding: 0.5% 1%;
}
.sub-menu li a {
    font-size: 0.9em;
    color: #636262;
    padding: 1%;
    text-decoration: none;
}
.sub-menu-mark {
    display: none;
    float: right;
    color: red;
}
.sub-menu li:hover .sub-menu-mark{
    display: inherit;
}
.city-menu {
    display: inline-block;
    width: 80%;
    margin-left: 25%;
    position: relative;
    margin-top: 15%;
}
.city-menu>a {
    display: inline-block;
    width: 100%;
    background: #e5e4e4 url("../images/sprite-arrows.png") no-repeat 90% 50%;
    background-size: 13%;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-style: italic;
    color: #636262;
    text-decoration: none;
    padding: 3% 5%;
}
.city-menu .sub-menu {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    border: none;
    border-radius: inherit;
    background: #e5e4e4;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.city-menu:hover>a {
    background: #e5e4e4 url("../images/sprite-arrows.png") no-repeat 93% 78%;
    background-size: 13%;
}
.city-menu:hover .sub-menu {
    display: block;
}
.clearfix {
    clear: both;
}
/***************** MAIN ******************
*****************************************/
main {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.menu ul {
    width: 100%;
    text-align: center;
    margin-bottom: 3%;
}
.choice {
    display:inline-block;
    background: #e5e4e4;
    padding: 1%;
    width: 18%;
    margin: 1% 1.9% 0 0;
    border: 2px solid transparent;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}
.choice:last-child {
    margin-right: 0;
}
.active-effect {
    background: none;
    border: 2px solid red;
    border-bottom: transparent;
}
.activated {
    background: none;
    border: 2px solid red;
    border-bottom: transparent;
}
.invisible-block {
    display: none;
}
.content-block {
    width: 100%;
}
/**********BONUS-POINTS***********
*********************************/
.bonus-points {
    width: 100%;
}
.bonus-points table {
    width: 70%;
}
/************WINNERS*************
********************************/
.winners {
    position: relative;
}
.winners-table {
    display: table;
    width: 100%;
    margin: 0;
    padding: 0;
}
.winners-row {
    display: table-row;
}
.winners li {
    display: table-cell;
    width: 33%;
    background: #dddddd url("../images/image-background.png") no-repeat 100% 0;
    background-size: 10% 100%;
    border-bottom: 25px solid white;
}
.winners li:nth-child(3n-1) {
    margin-left: 1.5%;
    margin-right: 1.5%;
}
.winners img {
    width: 90%;
    margin-right: 10%;
}
.winner-data {
    width: 90%;
    margin-right: 10%;
    border-top: 5px solid white;
}
.winners .winner-name {
    display: inline-block;
    width: 100%;
    margin: 5% 0 3%;
    font-size: 1.3em;
    color: #CC0000;
    text-align: center;
}
.winners .winner-text {
    display: inline-block;
    width: 80%;
    margin: 0 10% 10%;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-style: italic;
    text-align: justify;
}
.add-winner {
    position: absolute;
    width: 150px;
    height: 35px;
    top: -13%;
    left: 10px;
    border: none;
    padding-top: 5px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
/****** winners modal window****/
.window-add-winner-wrap{
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.5);
    display: none;
}
.window-add-winner{
    position: absolute;
    width: 50%;
    left: 25%;
    top: 30%;
    background: #fff;
    border: 2px solid #cc0000;
    outline: 10px solid white;
}
.close{
    position:absolute;
    right:3%;
    top: 5%;
    color: #cc0000;
    text-decoration: none;
}
.window-add-winner .title {
    display: inline-block;
    width: 100%;
    font-family: Lobster, cursive;
    font-size: 2.25em;
    color: #cc0000;

}
.window-add-winner img {
    display: inline-block;
    width: 33%;
    padding-top: 21.761388%;
    background: #e5e4e4 url("../images/background-photo.png") no-repeat 50% 40%;
    color: #cccccc;
    text-transform: uppercase;
    text-decoration: underline;
    vertical-align: middle;
}
.window-add-winner textarea {
    position: relative;
    display: inline-block;
    resize: none;
    vertical-align: middle;
}
.window-add-winner .submit {

}
.window-add-winner .cancel {

}
/************* BIDS *******************
**************************************/
.bid {
    display: table-row;
    width: 100%;
}
.bid-image {
    display: table-cell;
    width: 35%;
    border-bottom: 20px solid white;
}
.bid-image img {
    width: 100%;
    padding-right: 10%;
    background: url("../images/image-background.png") no-repeat 100% 0;
    background-size: 10% 100%;
}
.bid-info {
    display: table-cell;
    width: 65%;
    position: relative;
    vertical-align: top;
    padding-bottom: 5%;
    border-bottom: 20px solid white;
}
.bid-text {
    display: inline-block;
    width: 100%;
    font-style: italic;
    text-align: justify;
    color: #636262;
}
.bid-controls {
    position: absolute;
    bottom: 10px;
    left: 0;
    display: inline-block;
    width: 100%;
    font-weight: 600;
    text-transform: uppercase;

}
.bid-submit, .bid-description {
    font-size: 1.3em;
    padding: 1% 3%;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: white;
}
.bid-description {
    margin-left: 5%;
    background: #e5e4e4;
    color: black;
}
.more-info {
    display: inline-block;
    margin-left: 45%;
    padding-right: 20px;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-style: italic;
    color: #c52f32;
    background: url("../images/sprite-arrows.png") no-repeat 98% 105%;
    -webkit-background-size: 10%;
    background-size: 10%;
}
/************* AUCTIONS ***************
**************************************/
.auction {
    width: 100%;
}
.auction-photo {
    display: inline-block;
    width: 300px;
    height: 200px;
    background: #f1efef url("../images/background-photo.png") no-repeat 50% 30%;
    border: 2px solid #dedcdc;
    text-align: center;
    float: left;
}
.auction-photo label {
    display: inline-block;
    color: #aeaeae;
    text-transform: uppercase;
    text-decoration: underline;
    cursor: pointer;
    margin-top: 50%;
}
.auction-photo label input {
    display: none;
}
.auction-description {
    display: inline-block;
    height: 200px;
    width: 100%;
    resize: none;
    border: 2px solid #f1efef;
}
.auction-description::-webkit-input-placeholder {text-overflow:ellipsis; color: #aeaeae; font-style: italic;}
.auction-description::-moz-placeholder {text-overflow:ellipsis; color: #aeaeae; font-style: italic;}
.auction-description:-moz-placeholder {text-overflow:ellipsis; color: #aeaeae; font-style: italic;}
.auction-description:-ms-input-placeholder {text-overflow:ellipsis; color: #aeaeae; font-style: italic;}
.auction-description:focus::-webkit-input-placeholder {color: transparent}
.auction-description:focus::-moz-placeholder {color: transparent}
.auction-description:focus:-moz-placeholder {color: transparent}
.auction-description:focus:-ms-input-placeholder {color: transparent}
.auction-info {
    display: inline-block;
    width: 65%;
    float: right;
}

.start-bid {
    display: inline-block;
    width: 60%;
    margin-top: 5%;
    font-size: 1.3em;
    text-transform: uppercase;
    float: left;
}
.start-bid input {
    font-size: 1.1em;
    width: 10%;
    margin: 0 3%;
    border: 2px solid #f1efef;
}
.auction-submit {
    float: left;
    margin-top: 3%;
    padding: 1% 3%;
    color: white;
    font-size: 1.3em;
    text-transform: uppercase;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.event-date {
    display: inline-block;
    width: 35%;
    float: right;
    text-align: center;
    margin-top: 5%;
    border: 2px solid #f1efef;
}
.event-date-title {
    display: inline-block;
    width: 100%;
    text-transform: uppercase;
    font-size: 1.3em;
    margin-bottom: 5%;
}
.event-date-date {
    display: inline-block;
    width: 100%;
    font-family: Lobster, cursive;
    color: #cc0000;
    font-size: 1.3em;
}
/**************** USERS ******************
*****************************************/

/************** advertisers *************/
.participants {
    width: 100%;
    border-collapse: collapse;
    margin-top: 3%;
}
.participants th:nth-child(1) {width: 7%;}
.participants th:nth-child(2) {width: 15%;}
.participants th:nth-child(3) {width: 9%;}
.participants th:nth-child(4) {width: 15%;}
.participants th:nth-child(5) {width: 4%;}
.participants th:nth-child(6) {width: 10%;background: url("../images/sprite-social-2.png") no-repeat -10% 60%; background-size: 500%;}
.participants th:nth-child(7) {width: 10%;background: url("../images/sprite-social-2.png") no-repeat 20% 50%; background-size: 500%;}
.participants th:nth-child(8) {width: 10%;background: url("../images/sprite-social-2.png") no-repeat 50% 50%; background-size: 500%;}
.participants th:nth-child(9) {width: 10%;background: url("../images/sprite-social-2.png") no-repeat 80% 50%; background-size: 500%;}
.participants th:nth-child(10) {width: 10%;background: url("../images/sprite-social-2.png") no-repeat 110% 50%; background-size: 500%;}

.participants th, td {
    border: 1px solid #dedcdc;
    padding: 0.5% 0;
    text-align: center;
}
.participants td {
    color: #aeaeae;
}
.active-participant {
    background: url("../images/sprite-icons.png") no-repeat 50% 55%;
    background-size: 35%;
}
.not-active-participant {
    background: url("../images/sprite-icons.png") no-repeat 50% 115%;
    background-size: 35%;
}

/**************** FOOTER *****************
*****************************************/
footer {
    width: 100%;
    margin: 5% auto 0;
    background: linear-gradient(to bottom, #cc0000, #990000);
}
footer span, footer a {
    font-family: "Open Sans", sans-serif;
}
.footer-top, .footer-bottom {
    width: 70%;
    margin: 0 auto;
}
.footer-top {
    padding-top: 2%;
}
.footer-bottom {
    padding: 1% 0;
}
.footer-controls, .odnoklassniki, .vkontakte {
    display: block;
}
.footer-controls {
    width: 30%;
    float: left;
}
footer .logo {
    display: block;
    width: 75%;
    margin-bottom: 5%;
}
.activities span {
    text-transform: uppercase;
    font-weight: bold;
    margin-left: -5%;
}
.activities li, .activities li a {
    text-decoration: none;
    color: white;
}
.activities li a:hover {
    text-decoration: underline;
}
.social {
    margin-top: 7%;
    margin-left: -5%;
}
.social li {
    display: inline-block;
    width: 15%;
}
.social a {
    display: inline-block;
    width: 100%;
    padding-top: 100%;
    background: url("../images/sprite-social.png") no-repeat 0 50%;
    background-size: cover;
}
.social li:nth-child(2) a {background: url("../images/sprite-social.png") no-repeat 20% 50%;background-size: cover;}
.social li:nth-child(3) a {background: url("../images/sprite-social.png") no-repeat 40% 50%;background-size: cover;}
.social li:nth-child(4) a {background: url("../images/sprite-social.png") no-repeat 60% 50%;background-size: cover;}
.social li:nth-child(5) a {background: url("../images/sprite-social.png") no-repeat 80% 50%;background-size: cover;}
.social li:nth-child(6) a {background: url("../images/sprite-social.png") no-repeat 100% 50%;background-size: cover;}
.social li:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.odnoklassniki {
    width: 22%;
    float: left;
    margin-left: 15%;
}
.vkontakte {
    width: 26.873%;
    float: right;
}
.odnoklassniki img, .vkontakte img {
    max-width: 100%;
}
.footer-bottom span{
    vertical-align: bottom;
}
.footer-bottom a {
    color: white;
}
.footer-bottom span:first-child {
    margin-left: -2%;
}
.footer-bottom span:last-child a {
    text-decoration: none;
}
.footer-bottom span:last-child {
    float: right;
}
/*************MEDIA QUERIES**************
****************************************/

@media (max-width: 1680px) {

    .winners .winner-name {
        font-size: 1.2em;
    }
    .winners .winner-text {
        font-size: 0.9em;
    }
}
@media (max-width: 1480px) {

    .winners .winner-text {
        font-size: 0.8em;
    }
}
@media (max-width: 1366px) {

    .menu li {
        font-size: 0.9em;
    }
    .header-menu, .header-controls {
        margin-top: 0.2%;
    }
    .footer-top, .footer-bottom {
        width: 80%;
    }
    .add-winner {
        width: 130px;
        height: 30px;
        left: 5px;
        padding-top: 5px;
        font-size: 0.9em;
    }
}
@media (max-width: 1280px) {

    .menu li {
        font-size: 0.8em;
    }
    .winners .winner-name {
        font-size: 1.1em;
    }
    .header-menu a, .header-controls a {
        font-size: 0.8em;
    }
    .odnoklassniki {
        width: 24.2%;
        margin-left: 10%;
    }
    .vkontakte {
        width: 29.5603%;
    }
}
@media (max-width: 1190px) {

    .winners .winner-text {
        font-size: 0.7em;
    }
    .social li {
        width: 12%;
    }

}
@media (max-width: 1080px) {

    footer a {
        font-size: 0.9em;
    }
    .menu li {
        font-size: 0.7em;
        margin-right: 1%;
        width: 17%;
    }
    .menu li:last-child {
        margin-right: 0;

    }
    .add-winner {
        left: 35px;
    }
}
@media (max-width: 1050px) {

    body {
        width: 100%;
        background: none;
    }
    header {
        background: url("../images/header-background-small.png") no-repeat 50% 0;
        background-size: cover;
    }
    .header-menu {
        margin-left: 5%;
    }
    .winners {
        margin-left: 1%;
    }
    .footer-bottom, .footer-top {
        width: 100%;
    }
    .footer-controls {
        margin-left: 10%;
    }
    .odnoklassniki {
        margin-left: 5%;
    }
    .social {
        margin-top: 8%;
    }
    footer .logo {
        margin-bottom: 5%;
    }
    .add-winner {
        left: 40px;
    }
    .footer-bottom span:first-child {
        margin-left: 8.5%;
    }
    .footer-bottom span:last-child {
        margin-right: 6.5%;
    }
}

@media (max-width: 860px) {

    .odnoklassniki {
        margin: 0;
    }
    .vkontakte {
        margin-right: 5%;
    }
    .activities {
        margin-top: 10%;
    }
    .social {
        margin-top: 10%;
    }
    .add-winner {
        left: 35px;
    }

}

@media (max-width: 800px) {

    * {
        font-size: 0.95em;
    }
    .menu li {
        font-size: 0.68em;
    }
    .winners li:nth-child(3n-1) {
        margin-left: 0;
        margin-right: 0;
    }
    .add-winner {
        width: 90px;
        height: 25px;
        left: 30px;
        font-size: 0.7em;
        top: -14%;
    }
    .activities {
        margin-top: 15%;
    }
    .social {
        margin-top: 15%;
    }
    .more-winners {
        margin-top: 0;
    }
}

@media (max-width: 640px) {

    * {
        font-size: 0.9em;
    }

    .add-winner {
        width: 75px;
        height: 20px;
        left: 25px;
        top: -16%;
        padding-top: 4px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }
}

@media (max-width: 540px) {

    .menu li {
        font-size: 0.56em;
    }
    .add-winner {
        width: 65px;
        height: 15px;
        left: 25px;
        padding-top: 2px;
    }
    .activities {
        margin-top: 10%;
    }
    .social {
        margin-top: 10%;
    }

}

@media (max-width: 480px) {

    .header-menu, .header-controls  {
        font-size: 0.6em;
        vertical-align: top;
    }
    .menu li {
        font-size: 0.54em;
    }
    .winners .winner-text {
        font-size: 0.6em;
    }
    .add-winner {
        left: 20px;
    }
    .footer-controls {
        margin-left: 5%;
    }
    .footer-bottom span:first-child {
        margin-left: 3%;
        font-size: 0.8em;
    }
    .vkontakte, .footer-bottom span:last-child {
        margin-right: 3%;
    }
    .footer-bottom span:last-child {
        padding-top: 1.2%;
        font-size: 0.8em;
    }
}

@media (max-width: 380px) {

    .menu li {
        font-size: 0.43em;
    }
    .winners .winner-text {
        font-size: 0.5em;
    }
    .header-menu a, .header-controls a {
        font-size: 0.55em;
    }
    .add-winner {
        left: 15px;
    }
}
