@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,600italic&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Lobster|Lobster+Two&subset=latin,cyrillic);

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
}

button, input[type="submit"], input[type="reset"] {
    background: linear-gradient(to bottom, #cc0000, #990000);
    padding: 0.7% 3%;
    color: white;
    font-size: 1.3em;
    text-transform: uppercase;
    border: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
button:hover, input[type="submit"]:hover {
    background: linear-gradient(to bottom, #990000, #cc0000);
}
.close-window{
    position:absolute;
    right: 15px;
    top: 15px;
    color: #cc0000;
    text-decoration: none;
    cursor: pointer;
}
.more-info {
    display: inline-block;
    padding-right: 20px;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-style: italic;
    color: #c52f32;
    background: url("../images/sprite-arrows.png") no-repeat 98% 105%;
    -webkit-background-size: 10%;
    background-size: 10%;
}
.clearfix {
    clear: both;
}

body {
    max-width: 1366px;
    width: 70%;
    margin: auto;
}
main {
    width: 100%;
    text-align: center;
}
/**************** HEADER *****************
*****************************************/
header {
    width: 100%;
    margin: 0 auto;
    background: url("../images/header-background.png") no-repeat 50% 0;
    background-size: 100%;
    padding-bottom: 5%;
}
.header-left-menu {
    float: left;
    list-style: none;
    margin-left: 1%;
    margin-top: 0.5%;
}
.header-left-menu li {
    display: inline-block;
}
.header-left-menu li:first-child:after {
    content: "\2002\2022\2002";
    color: white;
    vertical-align: middle;
}
.header-left-menu li a {
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px black;
}
.header-left-menu li a:hover {
    color: #bebebe;
}

header .logo {
    position: absolute;
    top: 0.5%;
    left: 50%;
    margin-left: -8%;
    width: 16%;
}
.logo img {
    width: 100%;
}

.header-right-menu {
    width: 20%;
    float: right;
    margin-top: 0.5%;
    margin-right: 13%;
}
.login-register {
    width: 100%;
    padding-left: 15%;
    margin-bottom: 15%;
}
.login-register li{
    display: inline-block;
}
.login-register a{
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px black;
}
.login-register li a:hover {
    color: #bebebe;
}
.login-register li:first-child {
    text-transform: uppercase;
}
.login-register li:first-child:after {
    content: "\2002/\2002";
    color: white;
    vertical-align: middle;
}
.account-menu {
    position: relative;
    width: 100%;
}
.account-menu>a {
    background: url("../images/sprite-arrows.png") no-repeat 97% -8%;
    background-size: 10%;
    color: black;
    text-decoration: none;
}
.account-menu:hover>a {
    background: url("../images/sprite-arrows.png") no-repeat 95% 18%;
    background-size: 10%;
}
.account-menu:hover .sub-menu {
    display: inherit;
}
.sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 10%;
    opacity: 0.95;
    list-style: none;
    width: 90%;
    background-color: white;
    border-top: none;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    -webkit-box-shadow: 2px 2px 3px -1px #636262, -2px 2px 3px -1px #636262;
    -moz-box-shadow: 2px 2px 3px -1px #636262, -2px 2px 3px -1px #636262;
    box-shadow: 2px 2px 3px -1px #636262, -2px 2px 3px -1px #636262;
    z-index: 1;
    padding: 0.5% 1%;
}
.sub-menu li a {
    font-size: 0.9em;
    color: #636262;
    padding: 1%;
    text-decoration: none;
}
.sub-menu-mark {
    display: none;
    float: right;
    color: red;
}
.sub-menu li:hover .sub-menu-mark{
    display: inherit;
}
.city-menu {
    display: inline-block;
    width: 60%;
    margin-left: 20%;
    position: relative;
    margin-top: 15%;
}
.city-menu>a {
    display: inline-block;
    width: 100%;
    background: #e5e4e4 url("../images/sprite-arrows.png") no-repeat 92% 50%;
    background-size: 12%;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-style: italic;
    color: #636262;
    text-decoration: none;
    padding: 3% 5%;
}
.city-menu .sub-menu {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    border: none;
    border-radius: inherit;
    background: #e5e4e4;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.city-menu:hover>a {
    background: #e5e4e4 url("../images/sprite-arrows.png") no-repeat 92% 78%;
    background-size: 12%;
}
.city-menu:hover .sub-menu {
    display: block;
}
/******************************************** MAIN PAGE ***********************************************
******************************************************************************************************/
.taglines {
    list-style: none;
    margin-bottom: 2%;
}
.taglines li a {
    font-size: 2.5em;
    font-family: Lobster, cursive;
    text-decoration: none;
    color: #b80e14;
}
.taglines li:nth-child(1) {
    float: left;
    margin-left: 3%;
}
.taglines li:nth-child(2) {
    float: right;
    margin-right: 3%;
}
.tagline-yellow {
    font-size: 1em;
    font-family: Lobster, cursive;
    color: #f2d75a;
}
.main-menu-choice {
    display:inline-block;
    padding-bottom: 2%;
    text-align: center;
    background: url("../images/shadow-bottom.png") no-repeat bottom center;
    background-size: 100% 20%;
}
.main-menu-choice:first-child:hover {
    background: none;
}
.main-menu-choice:nth-child(2) {
    margin-left: 10%;
    margin-right: 10%;
}
.main-menu-choice>a {
    display: inline-block;
    padding: 10px 10%;
    background: linear-gradient(to bottom, #edecec, #dcdcdc);
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
}
.main-menu-choice>a:hover {
    background: linear-gradient(to bottom, #dcdcdc, #edecec);
}
.categories {
    display: inline-block;
    padding: 10px 20% 10px 10%;
    text-transform: uppercase;
    font-weight: bold;
    background: url("../images/sprite-arrows.png") no-repeat 95% center, linear-gradient(to bottom, #edecec, #dcdcdc);
    background-size: 8%;
    cursor: pointer;
    position: relative;
}
.categories:hover {
    background: url("../images/sprite-arrows.png") no-repeat 95% center, linear-gradient(to bottom, #dcdcdc, #edecec);
    background-size: 8%;
}
.main-sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    list-style: none;
    width: 100%;
    background: white;
    opacity: 0.9;
    z-index: 10;
    border: 1px solid #dcdcdc;
    display: none;
}
.main-sub-menu a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    text-transform: uppercase;
    padding: 2% 5%;
    color: black;
    text-align: left;
}
.main-sub-menu a:hover {
    color: #bb0f14;
}
.menu .categories:hover .main-sub-menu {
    display: block;
}

.title {
    display: inline-block;
    width: 100%;
    font-family: Lobster, cursive;
    font-size: 2.5em;
    color: #b80e14;
    margin: 3% 0 1%;
}
.title-image {
    background: url("../images/title-image.jpg") no-repeat 35%;
    background-size: 8%;
}
/********** MAIN-AUCTIONS ********/
.main-auctions {
    width: 100%;
    list-style: none;
}
.main-auction {
    position: relative;
    display: inline-block;
    width: 17%;
    padding-top: 20%;
    margin: 0 1%;
    border: 3px solid #d61112;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    -ms-transform: skew(15deg);
    -o-transform: skew(15deg);
    transform: skew(15deg);
    overflow: hidden;
    font-weight: bold;
    -webkit-box-shadow: -5px 5px 10px black;
    -moz-box-shadow: -5px 5px 10px black;
    box-shadow: -5px 5px 10px gray;
}
.main-auction:before {
    position: absolute;
    content: "";
    top: 0;
    left: -25%;
    width: 150%;
    padding-top: 130%;
    -webkit-transform: skew(-15deg);
    -moz-transform: skew(-15deg);
    -ms-transform: skew(-15deg);
    -o-transform: skew(-15deg);
    transform: skew(-15deg);
    background: url("../images/main-auction-photo.jpg");
    background-size: cover;
}
.main-auction-inner {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 130%;
    background: black;
    opacity: 0.6;
}
.main-auction-name, .main-auction-points {
    display: none;
    width: 80%;
    position: absolute;
    left: 20px;
    right: 0;
    color: white;
    -webkit-transform: skew(-15deg);
    -moz-transform: skew(-15deg);
    -ms-transform: skew(-15deg);
    -o-transform: skew(-15deg);
    transform: skew(-15deg);
    text-align: left;
    text-decoration: none;
}
.main-auction-name {
    top: 10px;
    border-bottom: 2px solid white;
}
.main-auction-points {
    bottom: 10px;
}
.main-auction-points span {
    font-size: 2.5em;
}
.main-auction:hover .main-auction-inner, .main-auction:hover .main-auction-name,
.main-auction:hover .main-auction-points{
    display: inline-block;
}
/**************** NEW EVENTS ***************/
.new-events-table {
    display: table;
    width: 95%;
    margin: 0 2.5% 0.5%;
    border-collapse: collapse;
}
.new-events-row {
    display: table-row;
}
.new-event {
    display: table-cell;
    width: 33.33%;
    height: 100px;
    border: 1px solid black;
}
.new-event-small {
    display: table-cell;
    width: 25%;
    height: 100px;
    border: 1px solid black;
}
/***************************************** END OF MAIN PAGE ********************************************
*******************************************************************************************************/

/******************************************* ADMIN-PANEL **********************************************
*******************************************************************************************************/

/***************** MENU ******************
*****************************************/
.menu ul {
    width: 100%;
    text-align: center;
    margin-bottom: 3%;
}
.choice {
    display:inline-block;
    background: #e5e4e4;
    padding: 1%;
    width: 18%;
    margin: 1% 1.9% 0 0;
    border: 2px solid transparent;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
}
.choice:last-child {
    margin-right: 0;
}
.active-effect {
    background: none;
    border: 2px solid red;
    border-bottom: transparent;
}
.activated {
    background: none;
    border: 2px solid red;
    border-bottom: transparent;
}
.invisible-block {
    display: none;
}
.content-block {
    width: 100%;
}
/************WINNERS*************
********************************/
.winners {
    position: relative;
}
.winners-table {
    display: table;
    width: 100%;
    margin: 0;
    padding: 0;
}
.winners-row {
    display: table-row;
}
.winners li {
    display: table-cell;
    width: 33%;
    background: #dddddd url("../images/shadow-right.png") no-repeat 100% 0;
    background-size: 10% 100%;
    border-bottom: 25px solid white;
}
.winners li:nth-child(3n-1) {
    margin-left: 1.5%;
    margin-right: 1.5%;
}
.winners img {
    width: 90%;
    margin-right: 10%;
}
.winner-data {
    width: 90%;
    margin-right: 10%;
    border-top: 5px solid white;
}
.winners .winner-name {
    display: inline-block;
    width: 100%;
    margin: 5% 0 3%;
    font-size: 1.3em;
    color: #CC0000;
    text-align: center;
}
.winners .winner-text {
    display: inline-block;
    width: 80%;
    margin: 0 10% 10%;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-style: italic;
    text-align: justify;
}
.add-winner {
    position: absolute;
    top: -13%;
    left: 10px;
    border: none;
}
/****** winners modal window****/
.window-add-winner{
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.5);
    display: none;
}
.form-add-winner{
    position: absolute;
    width: 750px;
    height: 320px;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #fff;
    border: 2px solid #cc0000;
    outline: 10px solid white;
}
.add-winner-title {
    display: inline-block;
    width: 100%;
    font-family: Lobster, cursive;
    font-size: 2.25em;
    color: #cc0000;
    text-align: center;
    margin-bottom: 10px;
}
.winner-photo {
    display: inline-block;
    width: 36%;
    height: 56.25%;
    background: #f1efef url("../images/background-photo.png") no-repeat 50% 30%;
    border: 2px solid #dedcdc;
    text-align: center;
    margin-left: 3%;
    vertical-align: top;
}
.winner-photo label {
    display: inline-block;
    color: #aeaeae;
    text-transform: uppercase;
    text-decoration: underline;
    cursor: pointer;
    margin-top: 50%;
}
.winner-photo label input {
    display: none;
}
.winner-info {
    display: inline-block;
    height: 56.25%;
    width: 54.5%;
    resize: none;
    border: 2px solid #f1efef;
    padding: 2% 3%;
    margin-left: 3%;
}
.winner-info::-webkit-input-placeholder {text-overflow:ellipsis; color: #aeaeae; font-style: italic;}
.winner-info::-moz-placeholder {text-overflow:ellipsis; color: #aeaeae; font-style: italic;}
.winner-info:-moz-placeholder {text-overflow:ellipsis; color: #aeaeae; font-style: italic;}
.winner-info:-ms-input-placeholder {text-overflow:ellipsis; color: #aeaeae; font-style: italic;}
.winner-info:focus::-webkit-input-placeholder {color: transparent}
.winner-info:focus::-moz-placeholder {color: transparent}
.winner-info:focus:-moz-placeholder {color: transparent}
.winner-info:focus:-ms-input-placeholder {color: transparent}

.form-add-winner .add-winner-submit {
    width: 20%;
    margin-top: 3%;
    margin-left: 43%;
    font-size: 1em;
}
.form-add-winner .add-winner-reset {
    width: 20%;
    margin-top: 3%;
    margin-left: 5%;
    font-size: 1em;
    background: #e5e4e4;
    color: black;
}
.add-winner-reset:hover {
    background: #d2d1d1;
}
/************* BIDS *******************
**************************************/
.bid {
    display: table-row;
    width: 100%;
}
.bid-image {
    display: table-cell;
    width: 35%;
    border-bottom: 20px solid white;
}
.bid-image img {
    width: 100%;
    padding-right: 10%;
    background: url("../images/shadow-right.png") no-repeat 100% 0;
    background-size: 10% 100%;
}
.bid-info {
    display: table-cell;
    width: 65%;
    position: relative;
    vertical-align: top;
    padding-bottom: 5%;
    border-bottom: 20px solid white;
}
.bid-text {
    display: inline-block;
    width: 100%;
    font-style: italic;
    text-align: justify;
    color: #636262;
    padding-right: 2%;
    padding-bottom: 1%;
}
.bid-controls {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    text-transform: uppercase;
}
.bid-description {
    margin-left: 5%;
    background: #e5e4e4;
    color: black;
}
.bid-description:hover {
    background: #d2d1d1;
}
/********** bids modal window ********/
.window-bid{
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.5);
    display: none;
}
.form-bid{
    position: absolute;
    width: 1000px;
    height: 600px;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #fff;
    border: 2px solid #cc0000;
    outline: 10px solid white;
    padding: 1.5%;
}
.choose-social-title, .choose-place-title, .choose-region-title, .choose-time-title {
    display: inline-block;
    font-size: 1.3em;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 2%;
}
.choose-social-title {
     width: 100%;
     margin-bottom: 1%;
 }
.choice-vkontakte, .choice-facebook, .choice-odnoklassniki, .choice-twitter, .choice-instagram {
    display: inline-block;
    width: 45%;
    padding-left: 5%;
    margin-bottom: 2%;
}
.choice-vkontakte {
    float: left;
    background: url("../images/sprite-social-2.png") no-repeat 0 15.5%;
    background-size: 160%;
}
.choice-facebook {
    float: right;
    background: url("../images/sprite-social-2.png") no-repeat 0 81%;
    background-size: 160%;
}
.choice-odnoklassniki {
    float: left;
    background: url("../images/sprite-social-2.png") no-repeat 0 35%;
    background-size: 160%;
}
.choice-twitter {
    float: right;
    background: url("../images/sprite-social-2.png") no-repeat 0 58.5%;
    background-size: 160%;
}
.choice-instagram {
    float: left;
    background: url("../images/sprite-social-2.png") no-repeat 0 100.1%;
    background-size: 160%;
}
.bid-checkbox input {
    display: none;
}
.bid-checkbox {
    display: inline-block;
    margin-left: 5%;
    padding: 4% 0 2%;
}
.like {
    width: 20%;
    background: url("../images/sprite-social-2.png") no-repeat 101.2% 99.7%;
    background-size: 800%;
}
.repost {
    width: 25%;
    background: url("../images/sprite-social-2.png") no-repeat 101.3% 99.7%;
    background-size: 650%;
}
.subscribe {
    width: 35%;
    background: url("../images/sprite-social-2.png") no-repeat 101.2% 100%;
    background-size: 440%;
}
.choice-twitter .repost {
    margin-left: 31%;
}
.active-bid-checkbox {
    background-position: 100% 75%;
}
.choice-place {
    display: inline-block;
    width: 30%;
    background: url("../images/sprite-bids.png") no-repeat 60% -25%;
    background-size: 300%, 250%;
    border: 2px solid #c4c2c2;
    position: relative;
    margin-bottom: 2%;
}
.choice-place input {
    display: none;
}
.chosen-place {
    background: url("../images/sprite-bids.png") no-repeat -9% -25%;
    background-size: 300%;
}
.choice-first-three {
    float: left;
}
.choice-first-nine {
    float: left;
    margin: 0 5%;
}
.choice-usual {
    float: right;
}
.choice-place-background {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30%;
    padding-top: 30%;
}
.choice-first-three .choice-place-background {
    background: url("../images/sprite-bids.png") no-repeat -1% 98%;
    background-size: 700%;
}
.choice-first-nine .choice-place-background {
    background: url("../images/sprite-bids.png") no-repeat 49.5% 101%;
    background-size: 700%;
}
.choice-usual .choice-place-background {
    background: url("../images/sprite-bids.png") no-repeat 99.5% 98.5%;
    background-size: 700%;
}
.usual-text, .big-text{
    display: inline-block;
    width: 100%;
    font-weight: 600;
    font-size: 1.1em;
}
.usual-text {
    color: #cc0000;
    margin: 2% 3% 1%;
}
.big-text {
    color: #990000;
    text-transform: uppercase;
    margin: 1% 3% 35%;
}
.choice-usual .usual-text {
    color: #990000;
    margin: 1% 3% 35%;
}
.choice-usual .big-text {
    color: #cc0000;
    margin: 2% 3% 1%;
}
.choose-region {
    display: inline-block;
    width: 30%;
}
.select-region {
    width: 100%;
    border: 2px solid #c4c2c2;
    color: #aaa8a8;
    padding: 2%;
    text-transform: uppercase;
    font-weight: bold;
    background: url("../images/sprite-bids.png") no-repeat 103% -3%;
    background-size: 250%;
}
.choose-time {
    display: inline-block;
    width: 30%;
    margin-left: 5%;
}
.time-chooser {
    width: 100%;
    border: 2px solid #c4c2c2;
    font-weight: bold;
    padding: 2%;
}
.time-chooser::-webkit-input-placeholder {text-overflow:ellipsis; color:#aaa8a8;}
.time-chooser::-moz-placeholder {text-overflow:ellipsis; color:#aaa8a8;}
.time-chooser:-moz-placeholder {text-overflow:ellipsis; color:#aaa8a8;}
.time-chooser:-ms-input-placeholder {text-overflow:ellipsis; color:#aaa8a8;}
.time-chooser:focus::-webkit-input-placeholder {color: transparent}
.time-chooser:focus::-moz-placeholder {color: transparent}
.time-chooser:focus:-moz-placeholder {color: transparent}
.time-chooser:focus:-ms-input-placeholder {color: transparent}
.form-bid-submit {
    width: 20%;
    margin-left: 40%;
    margin-top: 2%;
}
/************* AUCTIONS ***************
**************************************/
.auction {
    width: 100%;
    text-align: center;
}
.auction-photo {
    display: inline-block;
    width: 300px;
    height: 200px;
    background: #f1efef url("../images/background-photo.png") no-repeat 50% 30%;
    border: 2px solid #dedcdc;
    vertical-align: top;
}
.auction-photo label {
    display: inline-block;
    color: #aeaeae;
    text-transform: uppercase;
    text-decoration: underline;
    cursor: pointer;
    margin-top: 50%;
}
.auction-photo label input {
    display: none;
}
.auction-description {
    display: inline-block;
    height: 200px;
    width: 100%;
    resize: none;
    border: 2px solid #f1efef;
    padding: 2% 3%;
}
.auction-description::-webkit-input-placeholder {text-overflow:ellipsis; color: #aeaeae; font-style: italic;}
.auction-description::-moz-placeholder {text-overflow:ellipsis; color: #aeaeae; font-style: italic;}
.auction-description:-moz-placeholder {text-overflow:ellipsis; color: #aeaeae; font-style: italic;}
.auction-description:-ms-input-placeholder {text-overflow:ellipsis; color: #aeaeae; font-style: italic;}
.auction-description:focus::-webkit-input-placeholder {color: transparent}
.auction-description:focus::-moz-placeholder {color: transparent}
.auction-description:focus:-moz-placeholder {color: transparent}
.auction-description:focus:-ms-input-placeholder {color: transparent}
.auction-info {
    display: inline-block;
    width: 65%;
    margin-left: 2%;
}

.start-bid {
    display: inline-block;
    width: 60%;
    margin-top: 5%;
    font-size: 1.3em;
    text-transform: uppercase;
    float: left;
    text-align: left;
}
.start-bid input {
    font-size: 1.1em;
    width: 10%;
    margin: 0 3%;
    border: 2px solid #f1efef;
}
.auction-submit {
    float: left;
    margin-top: 3%;
}
.event-date {
    display: inline-block;
    width: 35%;
    float: right;
    text-align: center;
    margin-top: 5%;
    border: 2px solid #f1efef;
}
.event-date-title {
    display: inline-block;
    width: 100%;
    text-transform: uppercase;
    font-size: 1.3em;
    margin-bottom: 5%;
}
.event-date-date {
    display: inline-block;
    width: 100%;
    font-family: Lobster, cursive;
    color: #cc0000;
    font-size: 1.3em;
}
/**************** USERS ******************
*****************************************/
.users form {
    position: relative;
    padding-bottom: 3%;
}
.users-menu, .search-field {
    display: inline-block;
    padding: 0.7% 2%;
    color: #626262;
    border: 2px solid #cccccc;
}
.users-menu {
    width: 20%;
    text-transform: uppercase;
    float: left;
    background: url("../images/sprite-arrows.png") no-repeat 90% 50%;
    background-size: 10%;
    cursor: pointer;
    /*for WebKit*/
    -webkit-appearance: none;
    /* for FF */
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    /* for IE */
    -ms-appearance: none;
    appearance: none!important;
}

.users-menu::-ms-expand {
    display: none;
}

.search-field {
    width: 40%;
    float: right;
    background: url("../images/sprite-icons.png") no-repeat 155% 50%;
    background-size: 40%;
}
.search-field-description::-webkit-input-placeholder {text-overflow:ellipsis; color: #aeaeae; font-style: italic;}
.search-field::-moz-placeholder {text-overflow:ellipsis; color: #aeaeae; font-style: italic;}
.search-field:-moz-placeholder {text-overflow:ellipsis; color: #aeaeae; font-style: italic;}
.search-field:-ms-input-placeholder {text-overflow:ellipsis; color: #aeaeae; font-style: italic;}
.search-field:focus::-webkit-input-placeholder {color: transparent}
.search-field:focus::-moz-placeholder {color: transparent}
.search-field:focus:-moz-placeholder {color: transparent}
.search-field:focus:-ms-input-placeholder {color: transparent}
/************** advertisers *************/
.advertisers {
    width: 60%;
}
.advertisers th:nth-child(1) {width: 10%;}
.advertisers th:nth-child(2) {width: 30%;}
.advertisers th:nth-child(3) {width: 20%;}
.advertisers th:nth-child(4) {width: 30%;}
/************** participants *************/
.participants {
    width: 100%;
}
.participants th:nth-child(1) {width: 7%;}
.participants th:nth-child(2) {width: 15%;}
.participants th:nth-child(3) {width: 9%;}
.participants th:nth-child(4) {width: 15%;}
.participants th:nth-child(5) {width: 4%;}
.participants th:nth-child(6) {width: 10%;background: #ebeaea url("../images/sprite-social-2.png") no-repeat -10% -0.5%;background-size: 500%;}
.participants th:nth-child(7) {width: 10%;background: #ebeaea url("../images/sprite-social-2.png") no-repeat 20% -0.5%; background-size: 500%;}
.participants th:nth-child(8) {width: 10%;background: #ebeaea url("../images/sprite-social-2.png") no-repeat 50% -0.5%; background-size: 500%;}
.participants th:nth-child(9) {width: 10%;background: #ebeaea url("../images/sprite-social-2.png") no-repeat 79% -0.5%; background-size: 500%;}
.participants th:nth-child(10) {width: 10%;background: #ebeaea url("../images/sprite-social-2.png") no-repeat 109% -0.5%; background-size: 500%;}
/************** all tables *************/
.advertisers, .participants {
    border-collapse: collapse;
    margin-top: 3%;
}
th, td {
    border: 2px solid #cccccc;
    padding: 0.7% 0;
    text-align: center;
}
th {
    background-color: #ebeaea;
    color: #626262;
}
td {
    color: #707070;
}
.users-activity input {
    display: none;
}
.users-activity {
    display: block;
    width: 50%;
    padding-top: 50%;
    cursor: pointer;
    margin: 0 auto;
    background: url("../images/sprite-icons.png") no-repeat center;
    background-size: 500%;
}
.not-active-user {
    background: url("../images/sprite-icons.png") no-repeat 105% 50%;
    background-size: 500%;
}
.advertisers tr td:nth-child(2) input, .advertisers tr td:nth-child(3) input,
.advertisers tr td:nth-child(4) input, .participants tr td:nth-child(2) input,
.participants tr td:nth-child(3) input, .participants tr td:nth-child(4) input,
.participants tr td:nth-child(5) input {
    width: 95%;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.users-submit {
    position: absolute;
    right: 0;
    bottom: -6%;
}
/*********** BONUS-POINTS *************
**************************************/
.bonus-points {
    width: 100%;
}
.bonus-points-title {
    display: inline-block;
    margin-bottom: 2%;
    font-size: 1.5em;
    text-transform: uppercase;
}
.bonus-points-table {
    width: 70%;
    border-collapse: collapse;
}
.bonus-points-table tr td:nth-child(1) {width: 70%}
.bonus-points-table tr td:nth-child(2) {width: 30%}
.bonus-points-table th {
    font-family: Lobster, cursive;
    color: #cc0000;
    font-size: 1.5em;
    text-align: left;
    padding: 8px 15px;
}
.bonus-points-table td {
    text-align: left;
    padding: 8px 15px;
}
.bonus-points-table td input {
    width: 10%;
    border: none;
    background-color: transparent;
}
.bonus-points-table td input:focus::-webkit-input-placeholder {color: transparent}
.bonus-points-table td input:focus::-moz-placeholder {color: transparent}
.bonus-points-table td input:focus:-moz-placeholder {color: transparent}
.bonus-points-table td input:focus:-ms-input-placeholder {color: transparent}
.bonus-points-table .gray-row {
    background: #f5f4f4;
}
.bonus-points-submit {
    float: right;
    margin-right: 30%;
    margin-top: 2%;
}
/****************************************END OF ADMIN-PANEL ********************************************
*******************************************************************************************************/

/**************** FOOTER *****************
*****************************************/
footer {
    width: 100%;
    margin: 2.5% auto 0;
    background: linear-gradient(to bottom, #cc0000, #990000);
}
footer span, footer a {
    font-family: "Open Sans", sans-serif;
}
.footer-top, .footer-bottom {
    width: 70%;
    margin: 0 auto;
}
.footer-top {
    padding-top: 2%;
}
.footer-bottom {
    padding: 1% 0;
}
.footer-controls, .odnoklassniki, .vkontakte {
    display: block;
}
.footer-controls {
    width: 30%;
    float: left;
}
footer .logo {
    display: block;
    width: 75%;
    margin-bottom: 5%;
}
.activities span {
    text-transform: uppercase;
    font-weight: bold;
    margin-left: -5%;
}
.activities li, .activities li a {
    text-decoration: none;
    color: white;
}
.activities li a:hover {
    text-decoration: underline;
}
.social {
    margin-top: 7%;
    margin-left: -5%;
}
.social li {
    display: inline-block;
    width: 15%;
}
.social a {
    display: inline-block;
    width: 100%;
    padding-top: 100%;
    background: url("../images/sprite-social.png") no-repeat 0 50%;
    background-size: cover;
}
.social li:nth-child(2) a {background: url("../images/sprite-social.png") no-repeat 20% 50%;background-size: cover;}
.social li:nth-child(3) a {background: url("../images/sprite-social.png") no-repeat 40% 50%;background-size: cover;}
.social li:nth-child(4) a {background: url("../images/sprite-social.png") no-repeat 60% 50%;background-size: cover;}
.social li:nth-child(5) a {background: url("../images/sprite-social.png") no-repeat 80% 50%;background-size: cover;}
.social li:nth-child(6) a {background: url("../images/sprite-social.png") no-repeat 100% 50%;background-size: cover;}
.social li:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.odnoklassniki {
    width: 22%;
    float: left;
    margin-left: 15%;
}
.vkontakte {
    width: 26.873%;
    float: right;
}
.odnoklassniki img, .vkontakte img {
    max-width: 100%;
}
.footer-bottom span{
    vertical-align: bottom;
}
.footer-bottom a {
    color: white;
}
.footer-bottom span:first-child {
    margin-left: -2%;
}
.footer-bottom span:last-child a {
    text-decoration: none;
}
.footer-bottom span:last-child {
    float: right;
}
/*************MEDIA QUERIES**************
****************************************/

@media (max-width: 1680px) {

    .winners .winner-name {
        font-size: 1.2em;
    }
    .winners .winner-text {
        font-size: 0.9em;
    }
}
@media (max-width: 1480px) {

    .winners .winner-text {
        font-size: 0.8em;
    }
    .bonus-points-table th {
        font-size: 1.1em;
    }
    .participants th, .advertisers th {
        font-size: 0.8em;
    }
}
@media (max-width: 1366px) {

    .menu li {
        font-size: 0.9em;
    }
    .header-left-menu, .header-right-menu {
        margin-top: 0.2%;
    }
    .footer-top, .footer-bottom {
        width: 80%;
    }
    .add-winner {
        width: 130px;
        height: 30px;
        left: 5px;
        padding-top: 5px;
        font-size: 0.9em;
    }
    button, input[type="submit"] {
        font-size: 1.2em;
    }
    .users-menu {
        padding: 0.7% 1%;
    }
    .auction-photo {
        width: 210px;
        height: 140px;
    }
    .auction-photo label {
        margin-top: 55%;
    }
    .auction-description {
        height: 140px;
    }
    .start-bid {
        font-size: 1em;
    }
    .start-bid input {
        font-size: 0.9em;
    }
    .event-date-title {
        font-size: 1em;
    }
}
@media (max-width: 1280px) {

    .menu li {
        font-size: 0.8em;
    }
    .winners .winner-name {
        font-size: 1.1em;
    }
    .header-left-menu a, .header-right-menu a {
        font-size: 0.8em;
    }
    .sub-menu li a {
        font-size: 0.7em;
    }
    .odnoklassniki {
        width: 24.2%;
        margin-left: 10%;
    }
    .vkontakte {
        width: 29.5603%;
    }
    button, input[type="submit"] {
        font-size: 1.1em;
    }
    .users-menu {
        font-size: 0.9em;
    }
}
@media (max-width: 1190px) {

    .winners .winner-text {
        font-size: 0.7em;
    }
    .social li {
        width: 12%;
    }
    .users-menu {
        font-size: 0.8em;
    }
    .form-bid{
        width: 700px;
        height: 420px;
        border: 1px solid #cc0000;
        outline: 5px solid white;
        padding: 1%;
        font-size: 0.7em;
    }
    .choose-social-title, .choose-place-title {
        font-size: 1.2em;
    }
    .usual-text, .big-text {
        font-size: 0.77em;
    }
    .choose-region, .choose-time {
        font-size: 1em;
    }
    .select-region, .time-chooser {
        font-size: 0.9em;
    }
    .choice-vkontakte, .choice-facebook, .choice-odnoklassniki, .choice-twitter, .choice-instagram {
        margin-bottom: 1%;
    }
    .like {
        font-size: 0.8em;
        background-size: 820%;
    }
    .repost {
        font-size: 0.8em;
        background-size: 650%;
    }
    .subscribe {
        font-size: 0.8em;
        background-size: 440%;
    }
}
@media (max-width: 1080px) {

    footer a {
        font-size: 0.9em;
    }
    .menu li {
        font-size: 0.7em;
        margin-right: 1%;
        width: 17%;
    }
    .menu li:last-child {
        margin-right: 0;
    }
    .add-winner {
        left: 35px;
    }
}
@media (max-width: 1050px) {

    body {
        width: 100%;
        background: none;
    }
    header {
        background: url("../images/header-background-small.png") no-repeat 50% 0;
        background-size: cover;
    }
    .header-left-menu {
        margin-left: 5%;
    }
    .content-block {
        padding: 0 1%;
    }
    .winners {
        margin-left: 1%;
    }
    .footer-bottom, .footer-top {
        width: 100%;
    }
    .footer-controls {
        margin-left: 10%;
    }
    .odnoklassniki {
        margin-left: 5%;
    }
    .social {
        margin-top: 8%;
    }
    footer .logo {
        margin-bottom: 5%;
    }
    .add-winner {
        left: 40px;
    }
    .footer-bottom span:first-child {
        margin-left: 8.5%;
    }
    .footer-bottom span:last-child {
        margin-right: 6.5%;
    }
    button, input[type="submit"] {
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }
    .auction-photo label {
        font-size: 0.7em;
        margin-top: 50%;
    }
}

@media (max-width: 860px) {

    .odnoklassniki {
        margin: 0;
    }
    .vkontakte {
        margin-right: 5%;
    }
    .activities {
        margin-top: 10%;
    }
    .social {
        margin-top: 10%;
    }
    .add-winner {
        left: 35px;
    }
    button, input[type="submit"] {
        font-size: 1em;
    }
    .form-add-winner{
        width: 525px;
        height: 224px;
        border: 1px solid #cc0000;
        outline: 5px solid white;
    }
    .winner-photo label {
        margin-top: 55%;
    }
    .form-bid{
        width: 420px;
        height: 252px;
        border: 1px solid #cc0000;
        outline: 5px solid white;
        padding: 1%;
    }
    .choose-social-title, .choose-place-title {
        font-size: 0.7em;
    }
    .usual-text, .big-text {
        font-size: 0.57em;
    }
    .choose-region, .choose-time {
        font-size: 0.6em;
    }
    .select-region, .time-chooser {
        font-size: 0.7em;
    }

}

@media (max-width: 800px) {

    * {
        font-size: 0.95em;
    }
    .menu li {
        font-size: 0.68em;
    }
    .winners li:nth-child(3n-1) {
        margin-left: 0;
        margin-right: 0;
    }
    .add-winner {
        width: 90px;
        height: 25px;
        left: 30px;
        font-size: 0.7em;
        top: -14%;
    }
    .activities {
        margin-top: 15%;
    }
    .social {
        margin-top: 15%;
    }
    .more-winners {
        margin-top: 0;
    }
    .auction-photo {
        width: 105px;
        height: 70px;
        background-size: 40%;
    }
    .auction-description {
        height: 70px;
    }
}

@media (max-width: 640px) {

    * {
        font-size: 0.9em;
    }
    .add-winner {
        width: 75px;
        height: 20px;
        left: 25px;
        top: -16%;
        padding-top: 4px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }
    .form-add-winner{
        width: 315px;
        height: 135px;
        border: 1px solid #cc0000;
        outline: 5px solid white;
    }
    .add-winner-title {
        font-size: 1.5em;
        margin-bottom: 5px;
    }
    .winner-photo {
        background-size: 40%;
    }
    .winner-info {
        font-size: 0.8em;
    }
    .close-window{
        right: 5px;
        top: 5px;
    }
    .form-add-winner .add-winner-submit, .form-add-winner .add-winner-reset {
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }
    button, input[type="submit"] {
        font-size: 0.7em;
    }
}

@media (max-width: 540px) {

    .menu li {
        font-size: 0.56em;
    }
    .add-winner {
        width: 65px;
        height: 15px;
        left: 25px;
        padding-top: 2px;
    }
    .activities {
        margin-top: 10%;
    }
    .social {
        margin-top: 10%;
    }
    .users-menu {
        font-size: 0.7em;
    }
    .start-bid {
        font-size: 0.8em;
    }
    .start-bid input {
        font-size: 0.7em;
    }
    .event-date-title {
        font-size: 0.8em;
    }

}

@media (max-width: 480px) {

    .header-left-menu, .header-right-menu {
        font-size: 0.6em;
        vertical-align: top;
    }
    .menu li {
        font-size: 0.54em;
    }
    .winners .winner-text {
        font-size: 0.6em;
    }
    .add-winner {
        left: 20px;
    }
    .footer-controls {
        margin-left: 5%;
    }
    .footer-bottom span:first-child {
        margin-left: 3%;
        font-size: 0.8em;
    }
    .vkontakte, .footer-bottom span:last-child {
        margin-right: 3%;
    }
    .footer-bottom span:last-child {
        padding-top: 1.2%;
        font-size: 0.8em;
    }
    .users-menu {
        padding: 0.7% 1%;
    }
    .users-menu {
        font-size: 0.6em;
    }
    .bid-text {
        font-size: 0.8em;
    }
}

@media (max-width: 380px) {

    .menu li {
        font-size: 0.4em;
    }
    .winners .winner-text {
        font-size: 0.5em;
    }
    .header-left-menu a, .header-right-menu a {
        font-size: 0.55em;
    }
    .add-winner {
        left: 15px;
    }
    .users-menu {
        font-size: 0.5em;
    }
}
